name: UsingSecretsDemo

on:
  push:
    branches: [ "main" ]

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Access secret value
        run: echo "The secret key is ${{ secrets.MY_SECRET_KEY }}"
